@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body {
    font-family: sans-serif;
    margin: 0;
    padding: 50px 50px 0px 50px;
    position: relative;
    overflow-y: scroll;

    /* background-image: url("https://i.imgur.com/iAqA5iL.png");  */
}
h1, h2 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 5em;
}
h1 span {
    text-transform: uppercase;
    background-color: rgba(58, 192, 58, 0.4);
}
h3 {
    font-size: 2em;
}
ul {
    list-style-type: none;
    margin-right: 10em;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgba(58, 192, 58, 0.4);
}

.active {
    background-color: #4CAF50;
}

a.button {
    display: inline-block;
    /* position: relative; */
    /* float: left; */
    width: 170px;
    padding: 20px;
    margin: 10px 20px 10px 0;
    font-weight: 600;
    text-align: center;
    /* line-height: 50px; */
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s ;
    background: #2AA572;
    text-decoration: none;
}
a.button:hover {
    background: #21825B;
}
.full_page {
    height: calc(100% - 90px);
    /* min-height: 700px; */
    padding-left: 90px;
    padding-right: 90px;
    display: flex;
    align-items: center; 
} 
.centered_page {
    text-align: center;
    width: 900px;
    margin: 0 auto;
}
.centered_page img {
    max-width: 250px;
    min-width: 200px;
    max-height: 250px;
    vertical-align: middle;
    margin: auto 20px;
}
.logo {
    /* float: left; */
    position: absolute;
}
.logo img {
    max-width: 70px;
    width: auto;
    height: auto;
}
.right_element {
    position: absolute;
    left: 65%;
    width: 30%;
    z-index: -1;
}
.right_element img {
    height: 70%;
    /* width: 500px;
    height: 500px;  */
}
.contact {
    text-decoration: underline;
    text-align: right;
}
.blurb_homepage {
    width: 600px;
}
.quote {
    font-size: 3em;
    font-style: italic;
}
.quote span {
    font-size: .5em;
}