{% extends "base.html" %} {% block content %}
<div class="full_page">
    <div class="wrapper">
        <h1><span>&nbsp Asylum Seeker Equality &nbsp<br> &nbsp Project &nbsp</span>
        </h1>
        <div class="blurb_homepage">
            <h3>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bal h</h3>
        </div>
    </div>
    <div class="logo_big">
        <img src="https://i.imgur.com/CiLHoV2.jpg" />
    </div>
</div>
<div class="full_page">
    <div class="wrapper">
        <h2><span>Understanding the<br> Distinction</span>
        </h2>
        <div>Video</div>
        <div class="blurb_homepage">
            <h3>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bal h</h3>
        </div>
    </div>
    <div class="logo_big">
        <span>Diagram #1</span>
        <!-- <img src="https://i.imgur.com/CiLHoV2.jpg" /> -->
    </div>
</div>
<div class="full_page">
    <div class="wrapper">
        <h2><span>Why it matters</span>
        </h2>
        <div class="blurb_homepage">
            <h3>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bal h</h3>
        </div>
    </div>
</div>
{% endblock %}