{% extends "base.html" %} {% block content %}
<div class="full_page">
    <div>
        <h1><span>Asylum Seeker Equality Project</span></h1>
        <div class="blurb">
            A great example of sample text wow amazing. A great example of sample text wow amazing.  A great example of sample text wow amazing.  
            A great example of sample text wow amazing.  A great example of sample text wow amazing.  Bill English kicked my dog. A great example of sample text wow amazing. . 
            A great example of sample text wow amazing.  A great example of sample text wow amazing.  
        </div>
    </div>
    <div class="right_element">
        <img src="https://i.imgur.com/CiLHoV2.jpg" />
    </div>
</div>
<div class="full_page">
    <div>
        <h2><span>Understanding the Distinction</span></h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/fTAnFialfQU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        <div class="blurb">
                A great example of sample text wow amazing. A great example of sample text wow amazing.  A great example of sample text wow amazing.  
                A great example of sample text wow amazing.  A great example of sample text wow amazing.  Bill English kicked my dog. A great example of sample text wow amazing. . 
                A great example of sample text wow amazing.  A great example of sample text wow amazing.  
        </div>
    </div>
    <div class="right_element">
        <span>Diagram #1</span>
    </div>
</div>
<div class="full_page">
    <div>
        <h2><span>Why it matters</span></h2>
        <div class="blurb">
                A great example of sample text wow amazing. A great example of sample text wow amazing.  A great example of sample text wow amazing.  
                A great example of sample text wow amazing.  A great example of sample text wow amazing.  Bill English kicked my dog. A great example of sample text wow amazing. . 
                A great example of sample text wow amazing.  A great example of sample text wow amazing.  
        </div>
        <a href="/our_campaign" class="button">Read Our Campaign</a>
        <a href="/take_action" class="button">Take Action</a>
    </div>
    <div class="right_element">
        <p class="quote">"Amazing Quote by amazing person" <span class="author">- Author</span></p>
    </div>
</div>
{% endblock %}