{% extends "base.html" %} {% block our_campaign %}active{% endblock %} {% block content %}
<div class="centered_page">
    <div>
        <h1><span>&nbsp Equal Support &nbsp</span></h2>
            <h3>
                bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bal bla bla bla bla bla bla bla
                bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bal bla bla bla bla bla bla bla bla bla bla
                bla bla bla bla bla bla bla bla bla bla bla bla bla bal
            </h3>
            <div>
                <a href="/" class="button">Sign</a>
                <a href="/" class="button">Share</a>
                <a href="/" class="button">Learn More</a>
            </div>

    </div>
</div>
{% endblock %}