{% extends "base.html" %} {% block our_campaign %}active{% endblock %} {% block content %}
<div class="centered_page">
    <div>
        <h1><span>Equal Support</span></h2>
            <div class="blurb"> 
                    A great example of sample text wow amazing. A great example of sample text wow amazing.  A great example of sample text wow amazing.  
                    A great example of sample text wow amazing.  A great example of sample text wow amazing.  Bill English kicked my dog. A great example of sample text wow amazing. . 
                    A great example of sample text wow amazing.  A great example of sample text wow amazing.  
           </div> 
            <div>
                <a href="/" class="button">Sign</a>
                <a href="/" class="button">Share</a>
                <a href="/" class="button">Learn More</a>
            </div>

    </div>
</div>
{% endblock %}